<ons-page>

    <ons-toolbar>
      	<div class="left">
        	<ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
      	</div>
      	<div class="center">Patrimonio 24</div>
    </ons-toolbar>


	<ons-row align="center">
		<ons-col>
			<img src="images/logop24.png" class="profile-image">
		</ons-col>
	</ons-row>



	<ons-tabbar>

		    <ons-tabbar-item
		      label="Settings"
		      icon="ion-ios7-settings"
		      page="views/settings.html">
		    </ons-tabbar-item>

		    <ons-tabbar-item
		      label="Social"
		      icon="ion-ios7-paperplane-outline"
		      page="views/social.html">
		    </ons-tabbar-item>

		    <ons-tabbar-item
		      label="Localiza"
		      icon="ion-ios7-navigate-outline"
		      page="views/localiza.html">
		    </ons-tabbar-item>

		    <ons-tabbar-item
		      label="Login"
		      icon="ion-ios7-person-outline"
		      page="views/login.html">
		    </ons-tabbar-item>
		    
	</ons-tabbar>

</ons-page>

