<ons-list>
	<ons-list-item modifier="chevron" onclick="menu.setAbovePage('views/home.html', {closeMenu: true})">
	  <ons-icon icon="ion-ios7-home-outline"></ons-icon> Inicio
	</ons-list-item>
	<ons-list-item modifier="chevron" onclick="menu.setAbovePage('views/lugaresdeinteres.html', {closeMenu: true})">
	  <ons-icon icon="ion-ios7-navigate-outline"></ons-icon> Lugares de interés
	</ons-list-item>
	<ons-list-item modifier="chevron" onclick="menu.setAbovePage('views/guiavirtual.html', {closeMenu: true})">
	  <ons-icon icon="ion-ios7-chatbubble-outline"></ons-icon> Guía Virtual
	</ons-list-item>
	<ons-list-item modifier="chevron" onclick="menu.setAbovePage('views/cercademi.html', {closeMenu: true})">
	  <ons-icon icon="ion-ios7-ionic-outline"></ons-icon> Cerca de mí
	</ons-list-item>
	<ons-list-item modifier="chevron" onclick="menu.setAbovePage('views/itinerariosturisticos.html', {closeMenu: true})">
	  <ons-icon icon="ion-ios7-flag-outline"></ons-icon> Itinerarios turísticos
	</ons-list-item>
</ons-list>